Эту прокладку нужно упразднить и всех обслуживающих разогнать Текст оригинального поста: ↵<b>↵Пенсионный↵</b>↵ ↵<b>↵фонд↵</b>↵ вложит треть миллиарда в собственную рекламу ↵
<b>↵<span class="wdh-outer wdh-positive" data-object-id="18220" style="background-color: rgb(174, 239, 200)"><span
        class="wdh-inner">Пенсионный↵</b>↵ ↵
<b>↵фонд↵</b>↵ России</span></span> разместил на сайте госзакупок тендер на проведение рекламной кампании
<mark class="wdh-outer wdh-context" style="background-color: #fff19a"><span class="wdh-inner">своих</span>
</mark> услуг для населения. Стоимость проекта превышает треть миллиарда. ПФ намерен вложить 373,8 млн рублей в "информационно-разъяснительную кампанию". Будут созданы медиа-материалы, включая видео-ролики, которые помогут россиянам понять принципы работы ведомства. Это не первый случай, когда ↵
<b>↵Пенсионный↵</b>↵ ↵<b>↵фонд↵</b>↵
<mark class="wdh-outer wdh-context" style="background-color: #fff19a"><span class="wdh-inner">тратит</span></mark>
<mark class="wdh-outer wdh-context" style="background-color: #fff19a"><span class="wdh-inner">значительные</span></mark>
<mark class="wdh-outer wdh-context" style="background-color: #fff19a"><span class="wdh-inner">средства</span></mark>
<mark class="wdh-outer wdh-context" style="background-color: #fff19a"><span class="wdh-inner">из</span></mark>
<mark class="wdh-outer wdh-context" style="background-color: #fff19a"><span class="wdh-inner">своего</span></mark>
<mark class="wdh-outer wdh-context" style="background-color: #fff19a"><span class="wdh-inner">бюджета</span>
</mark> на информационные кампании – так, в 2018 году на медиа-услуги было потрачено около 250 млн рублей,
<mark class="wdh-outer wdh-context" style="background-color: #fff19a"><span class="wdh-inner">из</span>
</mark> них 195 млн ушли на размещение телевизионной рекламы. Как сообщал Ruposters, ранее Центробанк выявил махинации с деньгами российских пенсионеров на Московской бирже.
<a href="https://ruposters.ru/news/28-11-2019/pensionnii-vlozhit" target="_blank"><u>https://ruposters.ru/news/28-11-2019/pensionnii-vlozhit</u></a>
